
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green1: rgb(0, 150, 136);
    --green2: rgb(213,249,186);
    --grey1: rgb(219, 219, 211);
    --grey2: rgb(234, 234, 234);
    --blue1: rgb(142, 218, 252);
    --white: rgb(255,255,255);
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    min-width: 1200px;
    min-height: 600px;
    background-color: var(--grey1);
}

.green-stripe{
    width: 100%;
    height: 15%;
    background-color: var(--green1);
}

.app-container {
    width: 80%;
    height: 95%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    background-color: var(--white);
}

.user-card {
    height: 70px;
    background-color: var(--grey2);
}

.notifications-card {
    height: 80px;
    background-color: var(--blue1);
}

.search-card {
    height: 50px;
    background-color: var(--grey2);
}

.chat-list-card {
    height: calc(100% - 200px);
    background-color: var(--white);
}

.chat-info-card {
    height: 70px;
    background-color: var(--grey2);
}

.chat-content {
    height: calc(100% - 140px);
    background-image: url(../img/mine.jpg);
}

.message-content {
    height: 70px;
    background-color: var(--grey2);
}

.message-sent {
    justify-content: flex-end;
}

.message-sent div {
    background-color: var(--green2);
}

.message-received div {
    background-color: var(--white);
}